<h1>こんにちは <%= @user.name %></h1>

<ul>
<% today = Date.today  %>
<% (today .. today.advance(days: 5)).each do |day| %>
<li>
  <h1><%= day %></h1>
  <ol>
    <% @users.each do |user| %>
      <dl>
        <dt>
          <%= user.name %>
        </dt>
          <% schedules_of_user = @schedules.select do |schedule|
              schedule.start > day.beginning_of_day &&
              schedule.end < day.end_of_day &&
              schedule.user == user
            end
          %>
        <dd>
          <% unless schedules_of_user.empty? then %>
            <% schedules_of_user.each do |schedule| %>
              <%= schedule.start.to_s(:time) %> - <%= schedule.end.to_s(:time) %>
            <% end %>
          <% else %>
            未
          <% end %>
        </dd>
      </dl>
    <% end %>
  </ol>
</li>
<% end %>
</ul>

<%= link_to 'New Schedule', new_schedule_path %>
